/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* navbar */
.navbar {
    background-color: rgba(27, 36, 52,.7);
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

.dropdown-item {
  transition: .3s;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.dropdown-item:hover {
  background-color: rgb(42, 58, 85);
}

.navbar .nav-link {
  color: #fff;
}

.nav-item {
  position: relative;
}

.navbar .nav-link.active {
  color: #FFC700;
}

.navbar .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  border-top: 1px solid #FFC700;
}

.navbar .nav-link:hover {
  color: #FFC700;
}

.offcanvas {
  width: 300px !important;
  background: rgba(27, 36, 52, 1);
}

.navbar-toggler {
  width: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.navbar-toggler span {
  background-color: #FFC700;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.btn-close {
  background-color: #fff !important;
}

/* Hero */
.hero {
  background-image: url('../images/hero-bg.png');
  /* background-attachment: fixed; */
  background-position: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 992px) {
  .hero {
    height: 600px;
  }
}

.hero::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #1E1E1E;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 70%;
}

.hero .row {
  position: relative;
  z-index: 99;
}

.hero .row:first-child {
  margin-top: 250px;
}

.hero-text {
  color: #FFc700;
}

.sub-hero {
  color: #fff;
  font-size: 20px;
}

.btn-demo, .btn-daftar, .btn-demo:focus, .btn-demo:hover {
  background-color: #1B2434 !important;
  border: 1px solid #D9D9D9 !important;
  color: #fff !important;
  width: 135px;
  height: 35px;
  line-height: 20px;
}

.btn-daftar, .btn-daftar:focus, .btn-daftar:hover {
  background-color: #FFC700 !important;
  color: #000 !important;
  border: 0 !important;
}

/* fitur */

.fitur .row {
  position: relative;
  top: 100px;
}


.fitur .col-lg-6 p {
  font-size: 27px;
}

.fitur .row .col-lg-6:nth-child(2) h1 {
    margin-top: 70px;
}

@media (max-width: 576px) {
  .fitur .row .col-lg-6:nth-child(2) h1 {
    margin-top: 0;
  }
  .fitur .row .col-lg-6 p {
    font-size: 20px;
    line-height: 25px;
  }
}

.help-center {
  width: 190px;
  height: 50px;
  justify-content: space-between;
  line-height: 49px;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 20px;
  opacity: .3;
  transition: all .2s;
  z-index: 999;
}

.content-help {
  background-color: rgba(24, 134, 81);
  color: rgb(255, 255, 255, 0);
  border-radius: 50px;
  width: 0%;
  height: 100%;
  margin-right: -50px;
  /* margin-right: 150px; */
}

.help-center:hover {
  opacity: 1;
}

.help-center:hover .content-help {
  width: 100%;
  color: #fff;
  /* margin-right: -50px; */
}

.help-center img {
  margin-right: 0px;
}

.help-center p {
  margin-left: 15px;
}

.help-center:hover {
  color: #fff;
}

.card-title-parent h5 {
  color: #FFC34C;
}

.card-fitur {
  transition: .3s;
}

.card-fitur:hover{
  background-color: #FFC34C;
  color: white;
  cursor:default;
}

.card-fitur:hover .card-title-parent h5 {
  color: white;
  cursor:default;
}

.card-fitur .card-title-parent h5 {
  transition: .3s;
}

.list-unstyled {
  font-size: 23px;
}

@media (max-width: 576px) {
  .list-unstyled {
    font-size: 20px;
  }
}

/* Kesan */
@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}

.carousel-inner{
  padding: 1em;
}
.card{
  margin: 0 auto;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev, .carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .carousel-control-prev, .carousel-control-next{
    width: 60px;
    height: 60px;
  }
}

.carousel-item > .card {
  box-shadow:  2px 3px 15px rgba(0, 0, 0, 0.25); 
  width: 312px;
  height: 401px;
  border-radius: 19px;
}

@media (max-width: 576px) {
  .carousel-item > .card {
    width: auto;
  }
}

/* FAQ */
@media (max-width: 576px) {
  .accordion-button {
    font-size: 16px !important;
  }
}

.accordion-button {
  background-color: #1B2434 !important;
  color: #fff;
}
.accordion-button:focus {
  background-color: #1B2434 !important;
  color: #fff;
  box-shadow: none;
}

.rotate {
  transform: rotate(90deg);
}

#polygonIcon {
  transition: .5s;
}

.shadow-accordion {
  box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.accordion-button::after {
  height: 25px;
  margin-left: 0 !important;
  margin-right: 10px;
  order: -1;
  transition: .3s;
}

.accordion-button:not(.collapsed)::after {
  transform: 90deg !important;
}

.accordion-button:not(.collapsed) {
  color: #FFF;
}

/* footer */
.footer-hero {
  background-image: url('../images/smartmockups_lanhz99r\ 1.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer-hero::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1B2434;
  opacity: 84%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -9;
}
